{{ partial "header.html" . }}
<!-- NAVBAR
================================================== -->

<body role="document">
<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-TJGF9R"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-TJGF9R');</script>
<!-- End Google Tag Manager -->
	<div class="navbar-wrapper">
		<nav class="navbar navbar-inverse"> <!-- removed navbar-fixed-top so it was not persistent -->
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="/"><i class="main-logo icon-rt-raintank_wordmark"></i></a>
				</div>
			</div>
		</nav>
	</div>


	{{ .Content }}




  <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="/js/holder.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>