<!-- ARCHIVE EVENTS -->
<div class="page">

  <div class="event">
    <div class="row">
      <div class="col-md-12">
        <h2>past events</h2>
        <hr class="section-divider slim" />
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-md-12">
        <h4><strong class="text-light">DevOps Perth - September Session</strong> <span class="event-date"> Perth, Australia |  9.7.16</span></h4>
        <h4><strong class="text-light">PromCon 2016</strong> <span class="event-date"> Berlin, Germany |  8.25.16 - 8.26.16</span></h4>
        <h4><strong class="text-light">Intel Developer Forum 2016</strong> <span class="event-date"> San Francisco, CA |  8.16.16</span></h4>
        <h4><strong class="text-light">Intel Builders Summit</strong> <span class="event-date"> San Francisco, CA |  8.15.16</span></h4>
        <h4><strong class="text-light">HostingCon</strong> <span class="event-date"> New Orleans, LA |  7.24.16 - 7.27.16</span></h4>
        <h4><strong class="text-light">SRECON</strong> <span class="event-date"> Dublin, Ireland |  7.11.16 - 7.13.16</span></h4>
        <h4><strong class="text-light">NYC Metrics and Monitoring Meetup</strong> <span class="event-date"> NYC | 7.7.16</span></h4>
        <h4><strong class="text-light">Monitorama</strong> <span class="event-date"> Portland, OR | 6.27.16 - 6.29.16</span></h4>
        <h4><strong class="text-light">Velocity: Santa Clara</strong> <span class="event-date"> Santa Clara, CA | 6.20.16 - 6.23.16</span></h4>
        <h4><strong class="text-light">Stockholm Metrics and Monitoring Meetup</strong> <span class="event-date"> Stockholm, Sweden | 6.7.16</span></h4>
        <h4><strong class="text-light">Agila Sweden</strong> <span class="event-date"> Stockholm, Sweden | 6.1.16 - 6.2.16</span></h4>
        <h4><strong class="text-light">Multi-Cloud Engineering Meetup</strong> <span class="event-date"> Tel Aviv, Israel | 5.29.16</span></h4>
        <h4><strong class="text-light">Stockholm Google Developer Group Meetup</strong> <span class="event-date"> Stockholm, Sweden | 5.26.16</span></h4>
        <h4><strong class="text-light">What's New in Grafana 3.0</strong> <span class="event-date"> Webinar | 5.26.16</span></h4>
        <h4><strong class="text-light">Deconstructing the New Plugin Architecture in Grafana</strong> <span class="event-date"> Webinar | 5.25.16</span></h4>
        <h4><strong class="text-light">Deconstructing the New Plugin Architecture in Grafana</strong> <span class="event-date"> Webinar | 5.18.16</span></h4>
        <h4><strong class="text-light">Percona Live Santa Clara</strong> <span class="event-date"> Santa Clara, CA | 4.19.16 - 4.21.16</span></h4>
        <h4><strong class="text-light">Using Grafana for MySQL Monitoring</strong> <span class="event-date"> Webinar | 2.24.16</span></h4>
        <h4><strong class="text-light">Getting Up and Running with Prometheus and Grafana</strong> <span class="event-date"> Webinar | 2.17.16</span></h4>
        <h4><strong class="text-light">All Things Open</strong> <span class="event-date"> Raleigh, NC | 10.26.15 - 10.27.15</span></h4>
        <h4><strong class="text-light">GrafanaCon NYC</strong> <span class="event-date"> New York, NY | 10.15.15</span></h4>
        <h4><strong class="text-light">Velocity NYC</strong> <span class="event-date"> New York, NY | 10.12.15 - 10.14.15</span></h4>
        <h4><strong class="text-light">Monitorama</strong> <span class="event-date"> Portland, OR | 6.15.15 - 6.17.15</span></h4>
      </div>
    </div>  
  </div>

</div><!-- /.page -->