<!-- UPCOMING EVENTS -->
<div class="page">
  <div class="row">
    <div class="col-md-12">
      <h2>upcoming events</h2>
      <hr class="section-divider slim" />
    </div>
  </div>

   <div class="event">
    <div class="row">
      <div class="col-md-4">
        <div class="event-img"><a href="https://www.meetup.com/NYC-Metrics-and-Monitoring/events/236265064/"><img src="/img/nyc_met_mon.png" /></a></div>
      </div>
      <div class="col-md-8">
        <p class="event-date"><span class="event-type">meetup</span> New  York, NY | 1.23.17</p>
        <h3><a href="https://www.meetup.com/NYC-Metrics-and-Monitoring/events/236265064/">NYC Metrics and Monitoring</a></h3>
        <p><span class="text-light"><strong>Building  a Snap Telemetry Plugin</strong></span> Snap is an open telemetry framework by Intel designed to simplify the collection, processing and publishing of system data through a single API.</p>

        <p>In an environment with huge amounts of data, Snap simplifies the gathering of measurements. It can dynamically load new collector plugins and new measurements without having to stop and restart. This means you can collect new metrics in real-time when you need them. Written in Go, it is highly performant and inherently scalable with its built-in clustering mechanism.</p>

        <p>Staples are on the forefront of introducing Snap into their stack and joining us will be Jacob Lisi, a software developer on the Staples SRE Instrumentation team. Jacob will show us how to build a Snap plugin, live at the podium, without a net.</p>

        <p>Anything can go wrong! Danger! Intrigue! Telemetry! Snapping turtles!</p> 

        <p><strong class="text-light">We'll give you the whole seat, but you'll only need the edge.</strong><br/><br/><a href="https://www.meetup.com/NYC-Metrics-and-Monitoring/events/236265064/" class="specialCTA" >RSVP</a></p>
      </div>
    </div>
    <div class="event">
    <div class="row">
      <div class="col-md-4">
        <div class="event-img"><a href="https://fosdem.org/2017/"><img src="/img/fosdem_17.png" /></a></div>
      </div>
      <div class="col-md-8">
        <p class="event-date"><span class="event-type">conference</span> Brussels, Belgium | 2.04.17 - 2.05.17</p>
        <h3><a href="https://fosdem.org/2017/">FOSDEM '17</a></h3>
        <p><span class="text-light"><strong>Grafana - Past, Present and Future</strong></span> Why was Grafana born and what problem is it trying to solve? How do we try to solve these problems? We will look into some of the recent changes in Grafana that makes it easier to create, share and work with your dashboards. I'm also going to look into the future and talk about how we see the future of Grafana and talk a little bit about of software design philosophy.</p>
        
        <a href="https://fosdem.org/2017/practical/" class="specialCTA">No Need to Register. Just Show Up!</a></p>
      </div>
    </div>  
  </div>
</div><!-- /.page -->