<!-- UPCOMING EVENTS -->
<div class="page">
  <div class="row">
    <div class="col-md-12">
      <h2>upcoming events</h2>
    </div>
  </div>

  <div class="event">
    <div class="row">
      <div class="col-md-4">
        <div class="event-img"><a href="http://www.meetup.com/NYC-Metrics-and-Monitoring/events/232062813/"><img src="/img/meetup.jpg" /></a></div>
      </div>
      <div class="col-md-8">
        <p class="event-date"><span class="event-type">meetup</span> New York, NY | 7.7.16</p>
        <h3><a href="http://www.meetup.com/NYC-Metrics-and-Monitoring/events/232062813/">NYC Metrics and Monitoring - An Evening of Alerting (ft. Prometheus)</a></h3>
        <p><span class="text-light">The first NYC Metrics and Monitoring meetup in lower Manahattan. This meetup will highlight the modern day monitoring and alerting stack and illustrate a couple different approaches.</p>
         <a href="http://www.meetup.com/NYC-Metrics-and-Monitoring/events/232062813/" data-gacategory="Button" data-gaaction="Conference Register" data-galabel="Events" class="specialCTA">register now</a>
      </div>
    </div>  
  </div>

  <div class="event">
    <div class="row">
      <div class="col-md-4">
        <div class="event-img"><a href="https://www.usenix.org/conference/srecon16europe"><img src="/img/srecon.jpg" /></a></div>
      </div>
      <div class="col-md-8">
        <p class="event-date"><span class="event-type">Conference</span> Dublin, Ireland | 7.11.16 - 7.13.16</p>
        <h3><a href="https://www.usenix.org/conference/srecon16europe">SRECON</a></h3>
        <p><span class="text-light"><strong>Dieter Plaetinck: Practical Anomaly Detection and Alerting.</strong></span> This talk will debunk some common beliefs that in order to solve more [advanced] alerting use cases and get more complete alerting coverage, we need complex, often math-heavy solutions such as machine learning and stream processing.</p>
        <a href="https://www.usenix.org/conference/srecon16europe" data-gacategory="Button" data-gaaction="Conference Register" data-galabel="Events" class="specialCTA">register now</a>
      </div>
    </div>  
  </div>

  <div class="event">
    <div class="row">
      <div class="col-md-4">
        <div class="event-img"><a href="http://promcon.io/"><img src="/img/promcon.png" /></a></div>
      </div>
      <div class="col-md-8">
        <p class="event-date"><span class="event-type">conference</span> Berlin, Germany | 8.25.16 - 8.26.16</p>
        <h3><a href="http://promcon.io/">PromCon</a></h3>
        <p><span class="text-light"><strong>Carl Berquist: Grafana Master Class.</strong></span> Carl will be giving a talk and demo on many of the new features of Grafana 3.0 and how you can get the most out of your data. Get your tickets today!</p>
         <a href="http://promcon.io/register/" data-gacategory="Button" data-gaaction="Conference Register" data-galabel="Events" class="specialCTA">register now</a>     
      </div>
    </div>  
  </div>
</div><!-- /.page -->
