<!-- UPCOMING EVENTS -->
<div class="page">
  <div class="row">
    <div class="col-md-12">
      <h2>upcoming events</h2>
      <hr class="section-divider slim" />
    </div>
  </div>

    <div class="event">
    <div class="row">
      <div class="col-md-4">
        <div class="event-img"><a href="https://fosdem.org/2017/" data-gacategory="Image" data-gaaction="FOSDEM" data-galabel="Events"><img src="/img/fosdem_17.png" /></a></div>
      </div>
      <div class="col-md-8">
        <p class="event-date"><span class="event-type">conference</span> Brussels, Belgium | 2.04.17 - 2.05.17</p>
        <h3><a href="https://fosdem.org/2017/" data-gacategory="Image" data-gaaction="FOSDEM" data-galabel="Events">FOSDEM '17</a></h3>
        <p><span class="text-light"><strong>Grafana - Past, Present and Future</strong></span> Why was Grafana born and what problem is it trying to solve? How do we try to solve these problems? We will look into some of the recent changes in Grafana that makes it easier to create, share and work with your dashboards. I'm also going to look into the future and talk about how we see the future of Grafana and talk a little bit about of software design philosophy.</p>
        
        <a href="https://fosdem.org/2017/practical/" data-gacategory="Button" data-gaaction="FOSDEM" data-galabel="Events" class="specialCTA">No Need to Register. Just Show Up!</a></p>
      </div>
    </div>  
  </div>
</div><!-- /.page -->