{{ partial "header.html" . }}
{{ partial "navbar.html" . }}

<!-- Hero
================================================== -->
<section class="hero home-hero">
	<div class="hero-content-container inner">
		<div class="hero-caption">
      <h2 class="alpha-heading text-primary">raintank gets open source software ready for the enterprise.</h2>
      <!-- <button class="heroCTA jumbo" data-toggle="modal" data-target="#signUp-hero">Get Free Early Access</button> -->
    </div>
	</div>
</section>

<!-- Main page content
================================================== -->
<!-- Wrap the rest of the page in another container then offset the content. -->

<div class="main-content-container">
  <div class="row">
    <div class="col-md-12" style="margin-top:40px;">
     <h2 class="text-center beta-heading text-primary" style="margin-bottom:20px;">take back control of your monitoring software</h2>
    
     <p class="lead text-center" style="margin-top:40px; margin-bottom:20px;">
raintank is the company behind <a href="http://grafana.org">Grafana</a>, the defacto standard for visualizing time series data. We also run <a href="http://grafana.net">Grafana.net</a> an OpenSaaS platform that helps you get the most out of your Grafana, and get the most out of your open source monitoring stack.</p>

    <!--  <p class="text-center"><strong>(be up and running in the time it took you to read this sentence.)</strong></p> -->
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-12">
    <p style="margin-bottom:40px;" class="text-center sub-heading"></p>
    </div>
  </div>

  <div class="row">
   <div class="col-md-4 text-center" style="margin-bottom:40px; min-height:400px;">
     <h3 class="alpha-heading"><a href="http://grafana.org">Grafana</a></h3>
       <a href="http://grafana.org"><img class="featurette-image img-responsive center-block" style="margin-bottom:30px;" src="/img/icon_grafana.svg" alt="global footprint" width="150"></a>
       <p>The leading open source time series data visualization and dashboarding tool. Loved by the community. Now ready for the enterprise.</p>
       <a href="http://grafana.org" class="specialCTA" style="margin-top:20px;">More about Grafana</a>
     </div>

   <div class="col-md-4 text-center" style="margin-bottom:40px; min-height:400px;">
      <h3 class="alpha-heading"><a href="http://grafana.net">Grafana.net</a></h3>
      <a href="http://grafana.net"><img class="featurette-image img-responsive center-block" style="margin-bottom:30px;" src="/img/icon_grafana.svg" alt="dynamic dashboards" width="150"></a>
      <p>Online marketplace for dashboards, datasources, panels, plugins, fully-featured apps, sharing, scaling and protection.</p>
      <a href="http://grafana.net" class="specialCTA" style="margin-top:20px;">More about Grafana.net</a>
    </div>

    <div class="col-md-4 text-center" style="margin-bottom:40px; min-height:400px;">
      <h3 class="alpha-heading"><a href="http://worldping.com">worldPing</a></h3>
      <a href="http://worldping.com"><img class="featurette-image img-responsive center-block" style="margin-bottom:30px;" src="/img/worldping_logo.svg" alt="intelligent alerting" width="150"></a>
      <p>Continually test, store and alert on the global performance and availability of your Internet applications so you can pinpoint issues, fix them immediately.</p>
      <a href="http://worldping.com" class="specialCTA" style="margin-top:20px;">More about worldPing</a>
    </div>
  </div>
</div>

{{ partial "footer.html" . }}
