{{ partial "header.html" . }}
{{ partial "navbar.html" . }}

<!-- Hero
================================================== -->
<section class="hero home-hero">
	<div class="hero-content-container inner">
		<div class="hero-caption">
      <h2 class="alpha-heading text-primary">raintank gets open source software ready for the enterprise.</h2>
      <!-- <button class="heroCTA jumbo" data-toggle="modal" data-target="#signUp-hero">Get Free Early Access</button> -->
    </div>
	</div>
</section>

<!-- Main page content
================================================== -->
<div class="main-content-container">
  <div class="row">
    <div class="col-md-12" style="margin-top:40px;">
     <h2 class="text-center beta-heading text-primary">take back control of your monitoring</h2>
    
     <p class="lead text-center" style="margin-bottom:80px;">
raintank is the company behind <a href="http://grafana.org">Grafana</a>, the defacto standard for visualizing time series data. We also run <a href="http://grafana.net">Grafana.net</a> an OpenSaaS platform that helps you get the most out of your Grafana, and get the most out of your open source monitoring stack.</p>
    </div>
  </div>

<!-- Features
================================================== -->
  <div class="row">
   <div class="col-md-4 text-center featurette">
     <h3 class="alpha-heading"><a href="http://grafana.org">Grafana</a></h3>
       <a href="http://grafana.org"><img class="featurette-image img-responsive center-block" style="margin-bottom:30px;" src="/img/icon_grafana.svg" width="120" alt="global footprint" width="150"></a>
       <p>The leading open source time series data visualization and dashboarding tool. Loved by the community. Now ready for the enterprise.</p>
       <a href="http://grafana.org" class="specialCTA" style="margin-top:20px;">More about Grafana</a>
     </div>

   <div class="col-md-4 text-center featurette">
      <h3 class="alpha-heading"><a href="http://grafana.net">Grafana.net</a></h3>
      <a href="http://grafana.net"><img class="featurette-image img-responsive center-block" style="margin-bottom:30px;" src="/img/icon_grafana.svg" width="120" alt="dynamic dashboards" width="150"></a>
      <p>Download and create new dashboards, panels, data sources and entire applications. Share, scale, support and protect your Grafana instances.</p>
      <a href="http://grafana.net" class="specialCTA" style="margin-top:20px;">More about Grafana.net</a>
    </div>

    <div class="col-md-4 text-center featurette">
      <h3 class="alpha-heading"><a href="http://worldping.com">worldPing</a></h3>
      <a href="http://worldping.com"><img class="featurette-image img-responsive center-block" style="margin-bottom:30px;" src="/img/worldping_logo.svg" width="120" alt="intelligent alerting" width="150"></a>
      <p>Continually test, store and alert on the global performance and availability of your Internet applications. Pinpoint issues and fix them immediately.</p>
      <a href="http://worldping.com" class="specialCTA" style="margin-top:20px;">More about worldPing</a>
    </div>
  </div>
</div>

<!-- Footer
================================================== -->
{{ partial "footer.html" . }}
